# Python Basics

## Values and Variables

### - Values

In [2]:
type("Hello, World")

str

In [3]:
type(())

tuple

In [4]:
type([])

list

In [5]:
type(set())

set

In [6]:
type({})

dict

In [7]:
# 파이썬에서는 복소수 i를 j로 표현함
type(2+3j)

complex

### - Variables

In [8]:
message="Hello, world!"
n=42
e=2.71
print(n)
print(message)

42
Hello, world!

In [9]:
length=4.2
height=3.5
area=length*height
print(area)

14.700000000000001

In [10]:
# 변수는 방문앞에 이름만 바꾼것... 새로운 변수에 기존 변수를 할당하고, 기존 변수를 변경하면 새로운 변수도 영향받음
a=[1,2,3]
b=a
a[0]=10
print(b)

[10, 2, 3]

### - Variable names
 * 숫자로 시작하면 안됌

In [11]:
x=1.0
X=1.0
X1=1.0
x1=1.0
dell=1.0
# not allowed
# x:, 1X, X1-1, for

In [12]:
x,y,z=1,3.14,'a'
print(x,y,z)

1 3.14 a

## Core Data Types
### - Floating Point(float)

In [13]:
x=1
y=1.0
z=float(1)
xx=1.234e-5
print(x,y,z,xx)
print(type(z),type(float(True)))

1 1.0 1.0 1.234e-05
<class 'float'> <class 'float'>

In [16]:
# float 타입은 근사치를 사용하기때문에 사용에 유의
1-0.9==0.1

False

In [17]:
float('inf')

inf

### - Complex

In [19]:
x=1j
y=2+3j
z=complex(1)
print(x,y,z,y.real,y.imag)
print(type(y.imag))

1j (2+3j) (1+0j) 2.0 3.0
<class 'float'>

### - Integer

In [21]:
# Integer는 float와 달리 정확하다
x=2**127+2**65 
x

170141183460469231768580791863303208960

### - Boolean(bool)

In [28]:
print(bool(1),bool(1.2),bool(-1),bool(0.1))

True True True True

In [35]:
print(bool(0),bool(0.0),bool(0.0000),bool(None),bool(""),bool(()))

False False False False False False

In [33]:
3>4

False

## Operators
### - Arithmetic Operators

In [36]:
a=10
b=20

In [38]:
# 나누기 연산은 항상 float로 반환됨을 유의
print(a+b,a-b,a*b,b/a)

30 -10 200 2.0

In [39]:
# 나머지 연산자
b%a

0

In [40]:
# 몫 연산자
b//a

2

In [42]:
# 거듭제곱 연산자, 우선순위가 가장 높음
a**b

100000000000000000000

### - Relational Operators

In [43]:
print(a==b,a!=b,a>b,a<b,a>=b,a<=b)

False True False True False True

### - Assignment Operators

In [49]:
t=0
t+=1
t

1

In [50]:
t/=2
t

0.5

In [51]:
t*=2
t

1.0

### - Logical Operators

In [57]:
print(True and False, True or False, not True)

False True False

In [68]:
# 논리연산자는 container가 bool이 아닌 경우 용법이 다름
# or은 가장 먼저나오는 True값을 반환, and는 가장 먼저나오는 false값을 반환
print('' or 'abc',0 or 1, 'abc' or '','abc' or 'ab')
print(1 and 0, 'abc' and 0, None and '' and 0)

abc 1 abc abc
0 0 None

## Python Operators Precedence
### - Python Operators Precedence

In [1]:
# 거듭제곱 > 덧샘뺄샘 > 나눗셈, 몫, 나머지 > 부등호 > 논리
1+3/2

2.5

In [2]:
2400//500*500+2000%500

2000

In [3]:
(2400//500)*500+(2000%500)

2000

## Mathmatical Function

In [5]:
# built-in
print(abs(-1),round(1.111,1))

1 1.1

In [30]:
# functional in math module
import math

# factorial, floor, isfinite, isinf, isnan, trunc
# exp, log, log10, sqrt, cos, sin, tan, degrees, radians, pi, e

print(
math.ceil(1.11),
math.log(10),
math.log(10,10),
math.exp(1),
math.e,
math.pi,
math.trunc(math.pi),
math.degrees(1),
math.cos(math.pi)
)

2 2.302585092994046 1.0 2.718281828459045 2.718281828459045 3.141592653589793 3 57.29577951308232 -1.0

## Python I/O
### - Python Output

In [38]:
# print(object1, object2, ... , sep=' ', end='\n',...)
print(1,2,3,4)
print(1,2,3,4,sep='*')
print(1,2,3,4,end='END')
print(1,2,3,4,sep='')

1 2 3 4
1*2*3*4
1 2 3 4END1234

In [40]:
# formatting
x=5; y=10
print('The value of x is {} and y is {}'.format(x,y))
print('I love {2} and {1}, but hate {0}'.format('cucumber','butter','bread'))

The value of x is 5 and y is 10
I love bread and butter, but hate cucumber

### - Python Input

In [47]:
# Input value is a string
num=input('Enter a number:')
print(num)
print(int(num))

10
10