# 금융공학프로그래밍3, Quiz5 {.unnumbered}

## Problem 1

1. Create a 2-dimensional ndarray object 'Arr' with the code below and answer the following.

In [ ]:
import numpy as np
np.random.seed(123)
Arr=np.random.randn(8,10)

(1) Write an expression to calculate column sum of Arr.

In [ ]:
np.sum(Arr,axis=0)

(2) Write an expression that finds the position (row and column index) of an element greater than 2 in Arr

In [ ]:
np.where(Arr>2)

## Problem 2

2. Write 3 different expressions to create a pandas Series object 'S' displayed as follows.
>>> S
a 0
b 1
c 2
d 3
dtype: int64