# 금융공학프로그래밍3, Quiz1

## 1. Calculate the following

In [69]:
import math

In [70]:
# (1)
a=2.0;b=-1.0;c=-15.0;
print(
    "(1) a,b,c가 위와 같을 때, 근의 공식을 활용한 2차방정식의 근은 아래와 같습니다.",
    (-b+math.sqrt(b**2-4*a*c))/(2*a),
    (-b-math.sqrt(b**2-4*a*c))/(2*a),
    sep='\n'
)

(1) a,b,c가 위와 같을 때, 근의 공식을 활용한 2차방정식의 근은 아래와 같습니다.
3.0
-2.5

In [71]:
# (2)
mean=2; std=math.sqrt(3); x=1;
print(
    "(2) 평균, 표준편차가 위와 같을 때, 정규분포 확률밀도함수의 x=1에서의 값은 아래와 같습니다.",
    (1/(math.sqrt(2*math.pi)*std))*(math.e**(-((x-mean)**2)/(2*(std)**2))),
    sep='\n'
)

(2) 평균, 표준편차가 위와 같을 때, 정규분포 확률밀도함수의 x=1에서의 값은 아래와 같습니다.
0.19496965572274114

## 2. Briefly explain why the error occurs

In [73]:
# (1) input 값은 string타입으로 받게되므로, integer타입인 3과 더하기 연산을 하면 오류 발생
# input 값을 받아 integer로 변환하여 integer간 연산을 하거나, 3을 string으로 변환하여 문자열간 연산을 하거나 해야함.
a=input("enter a number:")
print(int(a)+3,a+str(3))

8 53

In [74]:
# (2) tmp는 공백포함 9자리 문자열임. index는 0~8까지만 할 수 있고 9부터는 범위 밖임
tmp='My String'
tmp[8]

'g'

In [75]:
# (3) method를 사용할 때, 뒤에 ()를 붙여야 작동함. 붙이지 않을경우 단순히 함수를 호출하는 것임.
ex1='sample string'
ex2=ex1.upper()
ex2[:4]

'SAMP'

## 3. Create the follwing string

In [76]:
grade='ABCDF'

In [77]:
# (1)
grade_str=grade+grade[-1]+grade[::-1]
grade_str

'ABCDFFFDCBA'

In [78]:
# (2)
grade_str.count('A')

2

In [79]:
# (3)
print(
    grade_str[4:7],
    grade_str[6:3:-1],
    grade_str[-7:-4],
    grade_str[-5:-8:-1],
    sep='\n'
)

FFF
FFF
FFF
FFF

In [80]:
# (4)
grade_str=grade_str.replace('F','A')
grade_str

'ABCDAAADCBA'

In [81]:
# (5)
grade_str.lower()

'abcdaaadcba'

## 4. Briefly explain why the error occurs

In [84]:
# (1) 2중 리스트에서 첫번째 리스트를 슬라이싱하는 경우, output은 리스트임.
# 리스트에 integer 30을 할당하려고 하므로, 오류 발생
# 리스트를 할당하던지, 슬라이싱이 아닌 인덱싱을 하던지 해야함
L=[[1,3,5,7,9],[2,4,6,8,10]]
L[0][1]=30
# 인덱싱으로 하면 오류 안남

In [85]:
# (2) 튜플에 더하기를 사용하는 경우인데, (40)은 튜플이 아니라 integer임
# 단일 원소 튜플을 표현하려면 (40,)으로 써야함
T=(10,20,30)
T[:2]+(40,)

(10, 20, 40)

In [87]:
# (3) D2=D를 사용하면, D2에 D복사본이 할당되는게 아니라 단순히 D에 D2라는 label만 새로 달아준것임
# 따라서, D2에 'A' key를 제거하면 D의 'A' key도 사라지는 것임
D=dict(A=10,B=20,C=30)
# Copy method를 써야 복사본이 할당됨
D2=D.copy()
del D2['A']
D['A']

10

In [89]:
# (4) Dictionary 타입의 key값은 immutable한 값만 허용됨
# List는 mutable하므로 tuple을 쓰던지 해야함
D3={('Park','Male'):30,}

In [94]:
# (5) Dictionary은 순서가 없음. 슬라이싱 지원안돼고 인덱싱도 key값으로만 해야함
dict_y={(1,):10,(2,):20,(3,):30,(4,):40}
dict_y[(1,)]

10

## 5. Create the following 'days'

In [95]:
days=['Mon','Tues','Wed','Thur','Fri',['Sat','Sun']]

In [96]:
# (1)
print(
    [days[5]],
    days[-1::-2],
    days[5][0],
    sep='\n'
)

[['Sat', 'Sun']]
[['Sat', 'Sun'], 'Thur', 'Tues']
Sat

In [111]:
# (2)
days2=[days[0:5]]+days[5][0:1]+days[5][1:]
days2

[['Mon', 'Tues', 'Wed', 'Thur', 'Fri'], 'Sat', 'Sun']

In [112]:
# (3)
days2[0].remove('Wed')
days2[0].remove('Fri')
days2

[['Mon', 'Tues', 'Thur'], 'Sat', 'Sun']

In [113]:
# (4)
days2[0].insert(2,'W')
days2

[['Mon', 'Tues', 'W', 'Thur'], 'Sat', 'Sun']

## 6. Create the following 'Nums'

In [122]:
Nums=[1,5,2,7,3,6,4]

In [123]:
# (1)
Nums.append(7)
Nums

[1, 5, 2, 7, 3, 6, 4, 7]

In [124]:
# (2)
Nums.sort()
Nums.reverse()
Nums

[7, 7, 6, 5, 4, 3, 2, 1]

In [126]:
# (3)
Nums[::2]=['a','a','a','a']
Nums

['a', 7, 'a', 5, 'a', 3, 'a', 1]

## 7. Create toe follwing tuple 'price'

In [141]:
price=(180,130,110,160,140,170)

In [142]:
# (1)
price_list=list(price)
price_list.sort()
price=tuple(price_list)
price

(110, 130, 140, 160, 170, 180)

In [143]:
# (2)
170 in price

True

In [144]:
# (3)
price=price[0:4]+(0,)*3+price[len(price)-1:]
price

(110, 130, 140, 160, 0, 0, 0, 180)